<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
        <h1 style="text-align: center;">
            Sensor data last update: {{.LastUpdate}}
        </h1>
        <canvas id="myChart" style="max-width: 50%;margin-left: 25%;"></canvas>

        <br>

        <button onClick="window.location.reload();" style="margin-left: 50%;">Refresh</button>
        

<script>
var yValues = [
        {{range $index, $element := .Data}}
            {{$element.Value}},
        {{end}}
    ];
var xValues = [
        {{range $index, $element := .Data}}
            {{$index}},
        {{end}}
    ];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "red",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: -200, max:200}}],
      xAxes: [{
                ticks: {
                    display: false
                }
            }]
    }
    
  }
});
</script>

</body>
</html>
